// ==========================================================================
// Placeholders
// ==========================================================================

%txt-shadow {
  color: $color-accent;
  text-shadow: 1px 1px 0.5px $red;
}

%btn {
  width: 100%;
  border-radius: $br--default;
  margin: $indent;
  padding: $indent;
  border: none;
  background-color: $aqua-forest;
  color: $white;
  cursor: pointer;
  text-align: center;
}

%img {
  width: auto;
  height: $col-height;
  border-radius: $br--round;
  &:hover {
    transform: scale(1.5);
  }
}
