header {
  @include flex($dir: column);
  background-color: $color-accent;
  background-image: linear-gradient($color-accent, $color-accent, $yellow);
}

section {
  @include flex($dir: column, $algnI: center);
  margin: $indent;
  @include mq(large) {
    margin-bottom: $col-height-xl;
  }
  // &::before {
  //   display: block;
  //   content: "";
  //   height: $col-height-xl;
  //   margin: -50px 0 0;
  // }


  & #profile {
    margin-bottom: 0;
  }
  & .my-skills {
    @include grid($gtc: repeat(3, 1fr));

    @include mq(slmedium) {
      grid-gap: $indent-lg;
    }

    @include mq(large) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  & .my-projects {
    @include mq(slmedium) {
      @include grid($gtc: repeat(2, 1fr));
    }
    @include mq(large) {
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: $indent-xl;
    }
  }
}

footer {
  margin-top: $indent-lg;
  @include flex($dir: column);
  max-width: 100%;
  @include mq(large){
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: $indent-lg auto;
  }
}
