// ===========================
// Graphic and Image Elements
// ===========================

// Separators
.separation {
  height: $indent;
  background-image: linear-gradient($color-accent, $color-accent, lighten($color-accent, 20%), darken($color-accent, 10%), lighten($black,10%));
  width: 100%;
  text-align: center;
  @include mq(large) {
    height: $col-height-lg;
  }
  &-2 {
    height: $col-height;
    background-image: linear-gradient(lighten($black, 10%), darken($color-accent, 10%), lighten($color-accent, 20%), $color-accent, darken($color-accent, 10%), lighten($black,10%));
    width: 100%;
    height: $indent-lg;
    @include mq(large) {
      height: $col-height;
      border-radius: 10px;
      max-width: 1200px;
      margin: 0 auto;
    }
  }
}

// Profile Section
#profile img {
  display: none;
  @include mq(large) {
    display: inline-flex;
    width: $col-height-xxl * 2;
    margin-right: $col-height-xl;
    margin-left: $indent-lg;
    box-shadow: 0px 0px 20px 4px darken($feijoa, 50%);
    border-radius: 50% 10px;
  }
}

// Project Section
.proj-fig {
  position: relative;

  & img {
    max-width: 100%;
    border: $aqua-forest 0.1em solid;
    border-radius: $br--round;
    height: 172px;
    box-shadow: 0 0 24px 8px $feijoa;
  }

  & details {
    position: absolute;
    bottom: 75%;
    left: 45%;
    width: 70%;
    text-align: right;
    background: $feijoa;
    color: $white;
    opacity: 0.9;
    transform: rotate(-20deg);
    padding-right: $indent;
    border-left: $indent $aqua-forest solid;
    transition: $trns-duration;

    &[open] {
      transition: $trns-duration;
      transform: rotate(360deg);
      bottom: -10%;
      left: -5%;
      width: 110%;
      opacity: 1;
      padding: $indent;
      border-radius: $br--default;

      & summary {
        list-style-image: url("../img/pointer.svg");
      }
    }

    & summary {
      color: darken($aqua-forest, 30%);
      font-weight: $font-weight--bold;
      // list-style: none;
      list-style-image: url("../img/pointer.svg");
      text-shadow: 1px 1px 0 $white;
      &:focus {
        outline: none;
      }
    }

    & p {
      color: $white;
      text-align: center;
    }

    & .btn-container {
      @include flex($just: space-between);

      & .btn {
        @extend %btn;
      }
    }

  }
}


// Contact section

#contact svg {
  fill: $feijoa;
}

// Footer Section

.social-icon svg {
  fill: white;
  width: 80px;
  height: 60px;
  margin: 0;
}

#linkedin,
#twitter {
  margin-top: -20px;
  margin-left: -20px;
  margin-right: 20px;
  height: 120px;
}

#twitter {
  fill: black;
}
