.separation {
  height: $indent;
  background-image: linear-gradient($yellow, $yellow, darken($yellow, 10%), lighten($black,10%));
  width: 100%;
  @include mq(large) {
    height: $col-height-lg;
  }
  &-2 {
    height: $col-height;
    background-image: linear-gradient(lighten($black, 10%), darken($yellow, 10%), $yellow, $yellow, darken($yellow, 10%), lighten($black,10%));
    width: 100%;
    height: $indent-lg;
    @include mq(large) {
      height: $col-height;
      border-radius: 10px;
      max-width: 1200px;
      margin: auto;
    }
  }
}

#profile img {
  display: none;
  @include mq(large) {
    display: inline-flex;
    width: $col-height-xxl * 2;
    margin-right: $col-height-xl;
    margin-left: $indent-lg;
    box-shadow: 0px 0px 20px 4px darken($color-accent, 50%);
    border-radius: 50% 10px;
  }
}

.my-projects figure {

  position: relative;

  & img {
    max-width: 100%;
    border: $aqua-forest 0.1em solid;
    border-radius: $br--round;
    height: 172px;
    box-shadow: 0 0 24px 8px $color-accent;
  }

  & figcaption {
    position: absolute;
    bottom: 75%;
    left: 45%;
    width: 70%;
    text-align: right;
    background: $color-accent;
    color: $white;
    opacity: 0.9;
    transform: rotate(-20deg);
    padding-right: $indent;
    border-left: $indent $aqua-forest solid;
  }
}

#contact svg {
  fill: $color-accent;

}

.social-icon svg {
  fill: white;
  width: 80px;
  height: 60px;
  margin: 0;
}

#linkedin,
#twitter {
  margin-top: -20px;
  margin-left: -20px;
  margin-right: 20px;
  height: 120px;
}

#twitter {
  fill: black;
}
