// Navigation
#top {
  background-color: $feijoa;
  width: 100%;
  position: fixed;
  z-index: 1;
  height: $col-height-xl;
  @include mq(slmedium) {
    display: flex;
    justify-content: center;
  }
}

nav {
  @include flex($dir: row, $algnI: center, $just: space-between);
  font-family: $font-family--secondary;
  padding: 0 $indent-lg;
  width: 100%;
  @include mq(large) {
    max-width: 1200px;
    margin: auto;
  }
}

#hamburger {
  @include mq(large) {
    display: none;
  }

  & .fa-bars {
    padding: $indent;
  }
}

#top-nav {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  background: $black;
  width: 100%;
  @include mq(large) {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin-left: 0;
    @include flex($dir: row, $just: flex-end);
    max-width: 60%;
    background: none;
}

  & li {
    align-self: center;
    font-size: 1em;
    padding: $indent;
    color: $feijoa;

    & a:hover,
    &.active a {
      @extend %txt-shadow;
    }

    @include mq(large) {
      display: inline-block;
      font-size: 1.5em;
      color: inherit;
    }
  }
}
