// Navigation
#top {
  background-color: $color-accent;
  width: 100%;
  position: fixed;
  z-index: 1;
  height: $col-height-xl;
  @include mq(slmedium) {
    display: flex;
    justify-content: center;
  }
}

nav {
  @include flex($dir: row, $algnI: center, $just: space-between);
  font-family: $font-family--secondary;
  padding: 0 $indent-lg;
  width: 100%;
  @include mq(large) {
    max-width: 1200px;
    margin: auto;
  }
}

.hamburger {
  width: $indent-lg;
  height: $indent-lg;
  // background-color: green;
  @include mq(large) {
    display: none;
  }

  & .line {
    height: 0.25em;
    background-color: $black;
    margin: 0.25em 0;
  }
}

#top-nav {
  display: none;
  @include mq(large) {
    display: inline-block;
    width: 100%;
    margin-left: 0;
    @include flex($dir: row, $just: flex-end);
    max-width: 60%;

  }

  & li {
    font-size: 1.5em;
    padding: $indent;

    & a:hover,
    &.active a {
      @extend %txt-shadow;
    }
  }
}
