// ==============
// Section rules
// ==============

// Profile section

#profile  {
  @include flex();
  padding: $indent-lg 0;
  margin: 0;
  margin-top: $col-height-xl;
  background-image: linear-gradient($feijoa, #fdecab),
  url("../img/dokel.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  height: $col-height-xxl;
  background-position: center;
  @include mq(slmedium) {
    height: $col-height-xxl * 2;
  }
  @include mq(large) {
    width: 100%;
    max-width: 1200px;
    background: none;
    margin-left: auto;
    margin-right: auto;
  }

  & .description {
    @include flex($dir: column, $algnI: center, $just: space-around);
    width: 100%;
    padding: $indent-lg;
    height: inherit;
    @include mq(large) {
      align-items: flex-start;
    }
  }
  & .name {
    margin: 0;
    @include mq(slmedium) {
      margin-top: $indent-xl;
      font-size: $col-height-lg;
    }
    @include mq(large) {
      align-self: center;
    }
  }
  & .role {
    margin: 0;
    @extend %txt-shadow;

    @include mq(slmedium) {
      font-size: $indent-lg;
    }

    @include mq(large) {
      font-size: $indent-xl;
    }
  }

  & .passion {
    margin: 0;
    font-weight: 700;
    @include mq(slmedium) {
      font-size: $indent-lg;
    }

    @include mq(large) {
      color: darken($feijoa, 30%);
      align-self: flex-end;
    }
  }
}

// Detailed Profile Section (about me)
#moreMobile {
  max-width: 25%;
  opacity: 0.6;
  padding: $indent / 2;
  @extend %btn;
  @include mq(medium) {
    align-self: flex-end;
  }
  @include mq(large) {
    display: none;
  }
}

#more {
  display: none;
  @include mq(large) {
    display: inline-block;
    background-color: transparent;
    border: none;
    padding: 1.6em 2em;
    font-size: 1.5em;
    color: #6b6868;
    text-shadow: 2px 2px 2px $color-accent;
    line-height: 0.5em;
  }
  &:focus,
  &:active {
    border: none;
    outline: none;
  }
}

// Skills Section
#my-skills {
  & .fab,
  & .fas {
    color: $feijoa;
    padding: $indent;
    @include mq(slmedium) {
      font-size: $col-height-xl;
      cursor: pointer;
    }
  }
  // blend in details about a skill when clicking on item
  & i span {
    display: flex;
    visibility: hidden;
    position: absolute;
    color: darken($aqua-forest, 30%);
    background-color: lighten($feijoa, 20%);
    opacity: 95%;
    border-radius: $indent;
    font-family: $font-family--primary;
    font-size:0.2em;
    padding: $indent;
    margin-left: $indent;
    margin-right: $indent;
    left: $indent;
    right: $indent;
    @include mq(medium) {
      max-width: 30em;
      margin-left: -$col-height-lg;
      left: unset;
      right: unset;
    }
  }
}

// Project section
.my-projects {
  @include flex($dir: column);
}

// Contact section

#contact {
  text-align: center;

  & ul {
    @include mq(large) {
      @include flex($just: space-around);
    }

    & li {
      margin: $indent $indent-lg;
    }
  }
}

.social {
  margin-top: $indent-lg;
  @include flex($just: space-around);
  max-width: 100%;
  @include mq(large){
  }
}
